.header
{
	background-image: url(../img/coffee-shop.jpg);
	max-width:100%;
	height:700px;
	border-spacing: 0;
	text-align:center;
}

ul
{
	left: 570px;
}

li
{
	font-family:PlayfairDisplay;
   	font-size:15px;
   	color:#fff;
	left:150;
	display: inline; /* Отображать как строчный элемент */
    	margin-right: 10px; /* Отступ слева */
    	padding: 10px; /* Поля вокруг текста */
}

.welcome
{
	height: 39px;
   	font-family: PlayfairDisplay;
    	font-size: 32px;
	font-weight: bold;
	color: #f5d76e;
	margin-top: 200px;
	text-align:left;
	margin-left:200px;
}

.text
{
	width: 436px;
	font-family: PlayfairDisplay;
    	font-size: 14px;	
	color: white;
}
.button
{
	width: 185px;
	height: 39px;
	left: 21%;
	border: solid 2px #ffffff;
	margin-top: 38px;
	padding-top: 16px;
	color: white;
	font-size: 20px;
	text-align:center;
}
